name: Test
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: current
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn test
        env:
          CI: true
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: current
          cache: 'yarn'
      - run: yarn install --frozen-lockfile
      - run: yarn lint-fix
      - run: yarn prettier
      - name: Auto commit fixed code
        id: auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Apply auto lint-fix changes
          branch: ${{ github.head_ref }}
      # See: https://github.com/reviewdog/action-eslint/issues/152
      # - name: eslint
      #   if: steps.auto-commit-action.outputs.changes_detected == 'false'
      #   uses: reviewdog/action-eslint@v1
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     level: warning
      #     reporter: github-pr-review
